.v-select .open-indicator {
  bottom: 15px !important;
}
.v-select .selected-tag .close {
  margin-right: 0;
  font-size: 20px;
  margin-top: 2px;
  float: right !important;
  margin-left: 5px;
  color: black;
}

.v-select .selected-tag {
  //height: 30px !important;
}